{% extends 'base.html.twig' %}

{% block title %}Joueurs index{% endblock %}

{% block body %}
    <h1>Joueurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Score</th>
                <th>PositionX</th>
                <th>PositionY</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.id }}</td>
                <td>{{ joueur.nom }}</td>
                <td>{{ joueur.email }}</td>
                <td>{{ joueur.score }}</td>
                <td>{{ joueur.positionX }}</td>
                <td>{{ joueur.positionY }}</td>
                <td>
                    <a href="{{ path('joueurs_show', {'id': joueur.id}) }}">show</a>
                    <a href="{{ path('joueurs_edit', {'id': joueur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('joueurs_new') }}">Create new</a>
{% endblock %}
